<html class="" lang="en"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">

<style>#main-content > [style="padding:10px 0 0 0 !important;"]
{display:none !important;}</style><meta class="foundation-mq"><style>#content > #center > .dose > .dosesingle,
#content > #right > .dose > .dosesingle
{display:none !important;}</style></head>
<body>



<div class="callout large primary">
<div class="row column text-center">
<h1>Tech</h1>
</div>
</div>
<div class="row" id="content">
<div class="medium-8 columns">
<div class="blog-post">
<h3>Awesome blog post title <small>3/6/2015</small></h3>
<img class="thumbnail" src="http://placehold.it/850x350">
<p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#"></a></li>
<li><a href="#"></a></li>
</ul>
</div>
</div>



</div>
<div class="medium-3 columns sticky-container" data-sticky-container="" style="height: 318px;">

</div>
</div>
<div class="row column">

</div>
<script src="bower_components/jquery/dist/jquery.js?hash=03b702824382256abfb4780ad2b7ef3c"></script>
<script src="bower_components/what-input/what-input.js?hash=e6a8a9adea4d5714575b942e1aef7416"></script>
<script src="bower_components/foundation-sites/dist/foundation.js?hash=f639113f29a3036a6a087185f4ccc7f0"></script>
<script src="js/app.js?hash=c1b827affa010fa9e3682899000d8d04"></script>


<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>


</body></html>
